#login .right
{
  display: none;
}

#login .left
{
  width: 100vw;
}

#login::before
{
  width: 100%;
}

#page-header,
#page-footer
{
  flex-direction: column;
}

@media (max-width: 400px)
{
  #navlink
  {
    flex-direction: column;
    text-align: center;

  }

  #navlink a
  {
    width: 100%;
    padding: 0.2rem 0;
    
  }

  
}





